<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.ContractCMapper">

    <select id="selectContract" resultType="com.hopu.entity.ContractC">
        select
  (select count(*) from contract_product_c
  where contract_id=c.contract_id)  as cpnum,
  (select count(*) from ext_cproduct_c
          where contract_product_id in (select contract_product_id from contract_product_c where contract_id=c.contract_id)
      ) as extnum,
  (
      nvl((select sum(cnumber*price) as cptotal from contract_product_c
      where contract_id =c.contract_id),0)
      +
      nvl(
      (select sum(cnumber*price) as exttotal from ext_cproduct_c
       where contract_product_id in (select contract_product_id from contract_product_c where contract_id=c.contract_id))
       ,0)
  ) as total_amount,
c.CONTRACT_ID,c.OFFEROR,c.CONTRACT_NO,c.SIGNING_DATE,c.INPUT_BY,c.CHECK_BY,c.INSPECTOR,c.IMPORT_NUM,c.REQUEST,c.CUSTOM_NAME,c.DELIVERY_PERIOD,c.SHIP_TIME,c.REMARK,c.PRINT_STYLE,c.OLD_STATE,c.STATE,c.OUT_STATE

from contract_c c
    </select>

    <insert id="insertContract" parameterType="com.hopu.entity.ContractC">
        INSERT INTO CONTRACT_C(contract_Id,offeror,contract_No,signing_Date,input_By,check_By,inspector,total_Amount,request,custom_Name,ship_Time,import_Num,delivery_Period,remark,print_Style,state)values(#{contract_Id},#{offeror},#{contract_No},#{signing_Date},#{input_By},#{check_By},#{inspector},#{total_Amount},#{request},#{custom_Name},#{ship_Time},#{import_Num},#{delivery_Period},#{remark},#{print_Style},#{state})
    </insert>

    <select id="selectByid" resultType="com.hopu.entity.ContractC">
        select * from CONTRACT_C where contract_Id = #{contract_Id}
    </select>

    <update id="updateCon" parameterType="com.hopu.entity.ContractC">
        update CONTRACT_C set offeror = #{offeror},contract_No = #{contract_No},signing_Date = #{signing_Date},input_By = #{input_By},check_By = #{check_By},inspector = #{inspector},total_Amount = #{total_Amount},request = #{request},custom_Name = #{custom_Name},ship_Time = #{ship_Time},import_Num = #{import_Num},delivery_Period = #{delivery_Period},remark = #{remark},print_Style = #{print_Style} where contract_Id = #{contract_Id}
    </update>

    <delete id="deleteCon" parameterType="com.hopu.entity.ContractC">
        delete from CONTRACT_C where contract_Id = #{contract_Id}
    </delete>
    
    <update id="updatestate" parameterType="com.hopu.entity.ContractC">
        update CONTRACT_C set state = #{state} where contract_Id = #{contract_Id}
    </update>

</mapper>