<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.ExtEproductCMapper">

    <insert id="insertexe" parameterType="com.hopu.entity.ExtCproductC">
         insert  into EXT_EPRODUCT_C(EXT_EPRODUCT_ID,EXPORT_PRODUCT_ID,FACTORY_ID)values (#{ext_eproduct_id},#{export_product_id},#{factory_id})
    </insert>
</mapper>