<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.SysCodeBMapper">

    <select id="selectSys" resultType="com.hopu.entity.SysCodeB">
        select * from SYS_CODE_B
    </select>

</mapper>